.wrapper_wide {
  width: 90%;
  margin: 0 auto; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.wrapper_skinny {
  width: 60%;
  margin: 0 auto; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.button {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none; }

.button_highlight {
  background: #00b2b3;
  transition: background .4s ease-in-out; }
  .button_highlight:hover {
    background: #008c8d; }

.button_white {
  background: #ffffff;
  color: black;
  transition: background .4s ease-in-out; }
  .button_white:hover {
    background: #ececec; }

#main_header {
  color: #004d66;
  background: #ffffff;
  padding: 2rem 0; }
  #main_header #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: #004d66;
    text-decoration: none;
    letter-spacing: 2.5px; }
  #main_header nav {
    float: right; }
    #main_header nav ul {
      list-style: none;
      margin: 0; }
      #main_header nav ul li {
        display: inline;
        margin-left: 2.5rem; }
        #main_header nav ul li a {
          color: #004d66;
          text-decoration: none; }
          #main_header nav ul li a:hover {
            color: #00d8d9; }

#banner {
  background-image: url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem; }
  #banner h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 8rem 0; }

.pagination:before, .pagination:after {
  content: " ";
  display: table; }

.pagination:after {
  clear: both; }

.pagination {
  text-align: center;
  margin: 2rem 0; }
  .pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .35rem;
    border-radius: .25rem;
    line-height: 1.25;
    text-decoration: none;
    background: #666666;
    font-weight: 700;
    font-size: .8rem;
    color: #ffffff; }
    .pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
      background: #004d66;
      color: #ffffff; }
  .pagination .current {
    background: #004d66;
    color: #ffffff; }
  .pagination .disabled {
    color: #ffffff;
    background: #cccccc; }
    .pagination .disabled:hover {
      color: #ffffff;
      background: #cccccc; }

#background {
  background-image: url("../images/city.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center; }
  #background header {
    padding: 1.5rem 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.5); }
    #background header #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: #ffffff;
      text-decoration: none;
      letter-spacing: 2.5px; }
    #background header nav {
      float: right; }
      #background header nav ul {
        list-style: none;
        margin: 0; }
        #background header nav ul li {
          display: inline;
          margin-left: 2.5rem; }
          #background header nav ul li a {
            color: #ffffff;
            text-decoration: none; }
            #background header nav ul li a:hover {
              color: #ececec; }
  #background h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10rem 0 3rem 0; }
  #background .button {
    min-width: 130px;
    display: inline-block;
    margin: .5rem 2.5% 0 2.5%; }

#podcasts {
  padding-bottom: 3rem; }
  #podcasts ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    #podcasts ul li {
      width: 31%;
      float: left;
      margin: 0 1% 2rem 1%;
      color: #004d66; }
      #podcasts ul li img {
        text-align: center;
        width: 80%;
        max-width: 80%;
        -webkit-box-shadow: 10px 15px 40px -8px rgba(0, 0, 0, 0.55);
        box-shadow: 10px 15px 40px -8px rgba(0, 0, 0, 0.55); }
      #podcasts ul li .podcast_content {
        padding: 1rem 7.5%; }
        #podcasts ul li .podcast_content h2 {
          margin: 0;
          font-weight: 700; }
      #podcasts ul li:hover img {
        opacity: .7; }
      #podcasts ul li:hover h2 {
        color: #00cbcd; }

#podcast_show #show_banner {
  text-align: center;
  background: #35a4cc;
  background: -moz-linear-gradient(left, #35a4cc 0%, rgba(41, 184, 229, 0.87) 27%, rgba(15, 247, 170, 0.52) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #35a4cc), color-stop(27%, rgba(41, 184, 229, 0.87)), color-stop(100%, rgba(15, 247, 170, 0.52)));
  background: -webkit-linear-gradient(left, #35a4cc 0%, rgba(41, 184, 229, 0.87) 27%, rgba(15, 247, 170, 0.52) 100%);
  background: -o-linear-gradient(left, #35a4cc 0%, rgba(41, 184, 229, 0.87) 27%, rgba(15, 247, 170, 0.52) 100%);
  background: -ms-linear-gradient(left, #35a4cc 0%, rgba(41, 184, 229, 0.87) 27%, rgba(15, 247, 170, 0.52) 100%);
  background: linear-gradient(to right, #35a4cc 0%, rgba(41, 184, 229, 0.87) 27%, rgba(15, 247, 170, 0.52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a4cc', endColorstr='#0ff7aa', GradientType=1 );
  padding: 5rem 0; }
  #podcast_show #show_banner h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #000000;
    margin: 0 0 .5rem 0; }
  #podcast_show #show_banner .description {
    width: 75%;
    margin: 0 auto 2rem auto;
    color: #1a1a1a;
    line-height: 1.75rem; }
  #podcast_show #show_banner a {
    font-size: .65rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: .75rem 1rem;
    background: #00999a;
    color: #ffffff;
    border-radius: 2rem;
    display: inline;
    margin: .5rem; }
    #podcast_show #show_banner a:hover {
      background: #00b2b3; }
#podcast_show #breadcrumb {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #99e6ff;
  font-weight: 700;
  font-size: .75rem; }
  #podcast_show #breadcrumb a {
    text-decoration: none;
    color: #004d66, 80%; }
#podcast_show span {
  margin: 0 1rem; }
#podcast_show #episodes {
  padding: 3rem 0; }
  #podcast_show #episodes ul {
    list-style: none;
    padding-left: 0; }
    #podcast_show #episodes ul li {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #66daff;
      margin-bottom: 1.5rem; }
      #podcast_show #episodes ul li:last-child {
        border-bottom: none; }
      #podcast_show #episodes ul li .episode_thumbnail {
        width: 23%;
        float: left; }
        #podcast_show #episodes ul li .episode_thumbnail img {
          width: 10rem;
          max-width: 100%; }
      #podcast_show #episodes ul li .episode_overview {
        width: 73.5%;
        float: left;
        margin-left: 1.5%; }
        #podcast_show #episodes ul li .episode_overview h2 {
          margin: 0; }
          #podcast_show #episodes ul li .episode_overview h2 a {
            margin: 0;
            color: #004d66;
            text-decoration: none; }

/*# sourceMappingURL=application.css.map */
