$white: #ffffff;
$highlight: #00b2b3;
$dark: #004d66;

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 60%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both
}

.button {
	color: $white;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	outline: none;
	border: none;
}

.button_highlight {
	background: $highlight;
	transition: background .4s ease-in-out;
	&:hover{
		background: darken($highlight, 7.5%);
	}
}

.button_white {
	background: $white;
	color: black;
	transition: background .4s ease-in-out;
	&:hover{
		background: darken($white, 7.5%);
	}
}

#main_header {
	color: $dark;
	background: $white;
	padding: 2rem 0;
	#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $dark;
			text-decoration: none;
			letter-spacing: 2.5px;
		}
	nav {
		float: right;
		ul {
			list-style: none;
			margin: 0;
			li {
				display: inline;
				margin-left: 2.5rem;
				a {
					color: $dark;
					text-decoration: none;
					&:hover {
						color: lighten($highlight, 7.5%);
					}
				}
			}
		}
	} 
}

#banner {
	background-image: url(../images/city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
	h1 {
		text-align: center;
		color: $white;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
		padding: 8rem 0;
	} 
}

.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 2rem 0;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 .35rem;
		border-radius: .25rem;
		line-height: 1.25;
		text-decoration: none;
		background: #666666;
		font-weight: 700;
		font-size: .8rem;
		color: $white;
		&:hover{
			background:$dark;
			color: $white;
		}
	}
	.current {
		background: $dark;
		color: $white;
	}
	.disabled {
		color: #ffffff;
		background: #cccccc;
		&:hover {
			color: #ffffff;
			background: #cccccc;
		}
	}

}

@import 'home';
@import 'podcast';
@import 'podcast_show';