<header>
	<div id="main_header" class="wrapper_wide">
		<a href="#" id="logo">Podcast</a>
		<nav class="clearfix">
			<ul>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="">Create a Podcast</a></li>
			</ul>
		</nav>
	</div>
</header>

<div id="banner">
	<h1>Discover some podcasts</h1>
</div>

<div id="podcasts" class="clearfix">
	<div class="wrapper">
		<ul>
			<% @users.each do |f| %>
				<%= link_to f do %>
					<li>
						<img src="images/city.jpg" alt="Podcast">
						<div class="podcast_content">
							<h2><%= f.title %></h2>
							<p class="episode_count">1 Episode</p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
		
	</div>
</div>

<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a class="next_page" href="#">Next</a>				
</div>